@model IEnumerable<Keiko.Domain.Models.Product.CategoryProduct>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="fa-solid fa-plus pr-2"></i>Create New Category
            </a>
        </div>
    </div>

    <br/><br/>

    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Category Description</th>
                <th>Category Favorite</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="40%">@Html.DisplayFor(modelItem => obj.Id)</td>
                    <td width="15%">@obj.CategoryName</td>
                    <td width="15%">@obj.CategoryDescription</td>
                    <td width="10%">@obj.IsFavorite</td>
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-outline-info mx-2">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-outline-danger mx-2">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No Category exists.</p>
    }


</div>